* {
    margin: 0;
    padding: 0;
}
body {
    background-color: $tertiary;
    color: $primary;
}
.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}
img {
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
header {
    background-size: cover;
    background-position: center;
}

// buttons
button {
	background-color: $secondary;
	border: 3px solid $secondary;
	padding: 2px 6px 0 6px;
    margin: 35px 0;
    transition: color 0.3s, background-color 0.3s, border 0.3s;
    &:hover, &:focus {
        color: $primary;
        background-color: $quinary;
        border: 3px solid $secondary;
    }
}
.secondary {
	color: $primary;
	background-color: $quinary;
	border: 3px solid $quinary;
    &:hover, &:focus {
        color: $quinary;
        background-color: $secondary;
        border: 3px solid $secondary;
    }
}
form button {
    width: 100%;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
// header
header {
    padding: 10vh 0;
    height: 75vh;
    nav {
        margin-bottom: 15vh;
    }
}
// footer
footer {
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: $quinary;
    margin: 0;
}