@media (max-width: 1000px) {
    // breakpoint for smaller desktop devices
    h1, h1 span {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    .home-header {
        margin-bottom: 5vh;
        img {
            display: none;
        }
    }

    .options ul {
        flex-direction: column;
        align-items: center;
        li {
            width: 90%;
        }
    }

    .img-container {
        width: 40%;
        height: 45vh;
    }
    .text-container {
        width: 40%;
        // width is a problem here needs some sort of padding
    }

    .best-burgers, .something-new {
        flex-direction: column;
        text-align: left;
        width: 90%;
        margin: 0 auto;
        .img-container {
            width: 80%;
            bottom: 0;
            top: 0;
            margin-bottom: 5vh;
        }
        .text-container {
            width: 90%;
        }
    }

    .banner {
        margin-bottom: 5vh;
    }
    .nature-restaurants {
        flex-direction: column;
        .img-container {
            width: 50%;
        }
        .text-container {
            text-align: center;
            width: 90%;
            padding: 5vh 0;
        }
    }

    form {
        width: 100%;
        input {
            width: 100%;
        }
        #name {
            margin-right: 0px;
        }
    }

    // contact page specific
    .contact-form {
        position: static;
        margin-bottom: 40px;
    }
    .contact-info {
        margin-bottom: 40px;
    }

    // blog page specific
    .side-menu, .blog-main {
        width: 100%;
        position: static;
        section, .blog-img, form, .comments .text-container {
            width: 100%;
        }

        .comments .img-container {
            height: 100%;
        }
    }

    .side-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        align-self: center;
        margin: 10vh auto;
        img {
            position: static;
            max-width: 250px;
        }
        img, div {
            width: calc((100% / 3) - 10px);
        }
    }
}

@media (max-width: 800px) {
    // tablets
    .gallery li {
        width: calc((100% / 2) - 20px);
        margin-top: 20px;
    }
    
    .blog-main .blog-post, .comments {
        padding: 15px;
    }

    .side-menu {
        flex-direction: column;
        align-items: center;
        text-align: center;
        img, div {
            width: 95%;
        }
    }
}

@media (max-width: 500px) {
    // phones
    header nav a {
        margin: 0 15px;
    }
    h1, h1 span {
        font-size: 1.9rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    button {
        font-size: 1rem;
    }
    p, p a {
        font-size: 0.9rem;
    }
    h2, h3, h4 {
        line-height: 1.8rem;
    } 
    .options li {
        margin-top: 5vh;
    }
    .nature-restaurants .img-container{
        width: 80%;
    }
    .img-container {
        margin-bottom: 25px;
    }
    .gallery li {
        width: 100%;
        margin-top: 20px;
    }

    form {
        font-size: 0.9rem;
        padding: 10px;
        padding-bottom: 30px;
        &.contact-form {
            box-shadow: none;
            border: 5px solid $secondary
        }
        input {
            margin-bottom: 30px;
        }
    }
    
    // blog page specifics
    .comment {
        flex-direction: column;
        .img-container {
            margin-right: 0;
        }
    }
}