html {
    font-size: 125%;
}
body {
    font-family: $body-font;
}

body, a {
    color: $primary;
}
a {
    text-decoration: none;
}
a:hover, a:focus {
    color: $secondary;
}
h1 {
    font-family: $accessory-font;
    font-weight: 600;
    font-size: 3.45rem;
    text-transform: uppercase;
}

h2, h3 {
    font-family: $accessory-font;
    font-weight: 400;
    line-height: 4.99rem;
    font-size: 2.5rem;
    text-transform: uppercase;
}

input, textarea {
    font-family: $body-font;
    color: $primary;
}

