$primary: #fff;
$secondary: #ffd300;
$tertiary: #2b331b;
$quaternary: #171b0e;
$quinary: #0f0f0f;
$body-font: "font-family: 'Barlow', sans-serif;";
$accessory-font: "font-family: 'Josefin Sans', sans-serif;";

// maybe some functions for fontsize/lineheight/letterspacing
// or for the buttons! like button-1 button-2